In [1]:
The case study is from an open-source dataset from Kaggle. 

Link to the Kaggle project site:

https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling

Given a Bank customer, can we build a classifier that can determine whether they will leave or not using Neural networks?

Let us see how the Machine learning Algo based model perform on this dataset.

In [ ]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from sklearn.tree import DecisionTreeClassifier

In [4]:
from sklearn.feature_extraction.text import CountVectorizer  #DT does not take strings as input for the model fit step....

In [5]:
credit_df = pd.read_csv("Churn_Modelling.csv")
#credit_df = pd.read_csv("/content/drive/My Drive/ClassNotes/credit.csv")

In [6]:
credit_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

In [7]:
credit_df.head(5)  #let us look at the raw data. As is evident, there are lot of missing values

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
credit_df.shape

(10000, 14)

In [9]:
credit_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

In [10]:
credit_df=pd.get_dummies(credit_df,drop_first=True)
credit_df.info()  # many columns are of type object i.e. strings. These need to be converted to ordinal type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 2945 entries, RowNumber to Gender_Male
dtypes: float64(2), int64(9), uint8(2934)
memory usage: 28.8 MB

In [11]:
# Decision tree in Python can take only numerical / categorical colums. It cannot take string / obeject types. 
# The following code loops through each column and checks if the column type is object then converts those columns
# into categorical with each distinct value becoming a category or code.

for feature in credit_df.columns: # Loop through all columns in the dataframe
    if credit_df[feature].dtype == 'object': # Only apply for columns with categorical strings
        credit_df[feature] = pd.Categorical(credit_df[feature]).codes # Replace strings with an integer

In [14]:
credit_df.head()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,...,Surname_Zotova,Surname_Zox,Surname_Zubarev,Surname_Zubareva,Surname_Zuev,Surname_Zuyev,Surname_Zuyeva,Geography_Germany,Geography_Spain,Gender_Male
0,1,15634602,619,42,2,0.00,1,1,1,101348.88,...,0,0,0,0,0,0,0,0,0,0
1,2,15647311,608,41,1,83807.86,1,0,1,112542.58,...,0,0,0,0,0,0,0,0,1,0
2,3,15619304,502,42,8,159660.80,3,1,0,113931.57,...,0,0,0,0,0,0,0,0,0,0
3,4,15701354,699,39,1,0.00,2,0,0,93826.63,...,0,0,0,0,0,0,0,0,0,0
4,5,15737888,850,43,2,125510.82,1,1,1,79084.10,...,0,0,0,0,0,0,0,0,1,0

In [15]:

from sklearn.model_selection import train_test_split

In [16]:
X = credit_df.drop(["Exited"], axis=1)

In [17]:
y = credit_df[["Exited"]]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 7)

In [19]:
# invoking the decision tree classifier function. Using 'entropy' method of finding the split columns. Other option 
# could be gini index.  Restricting the depth of the tree to 5 (no particular reason for selecting this)
                                  
dt_model = DecisionTreeClassifier(criterion = 'entropy' )

In [20]:
dt_model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [21]:
dt_model.score(X_train , y_train)

1.0

In [22]:
dt_model.score(X_test , y_test)

0.8008

### Regularising the Decision Tree

In [23]:
dt_model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 5, min_samples_leaf=10 )

In [24]:
dt_model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=10, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [25]:
test_pred = dt_model.predict(X_test)

In [26]:
dt_model.score(X_train , y_train)

0.854

In [27]:
dt_model.score(X_test , y_test)

0.844

# Ensemble Learning - Bagging

In [28]:
from sklearn.ensemble import BaggingClassifier

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
lrModel = LogisticRegression()

In [31]:
dt_model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 5, min_samples_leaf=5 )

In [32]:
#bgcl = BaggingClassifier(n_estimators=50) #ethod 1 with default base estimator

In [33]:
bgcl = BaggingClassifier(base_estimator=dt_model, n_estimators=50)

In [34]:
#bgcl = BaggingClassifier(base_estimator=lrModel, n_estimators=50)

In [35]:
bgcl = bgcl.fit(X_train, y_train)

C:\Users\rashm\Anaconda3.6\lib\site-packages\sklearn\ensemble\_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [37]:
bgcl.score(X_train , y_train)

0.8572

In [38]:
bgcl.score(X_test , y_test)

0.8552

In [39]:
NDP = X_test.head(1)
NDP

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,...,Surname_Zotova,Surname_Zox,Surname_Zubarev,Surname_Zubareva,Surname_Zuev,Surname_Zuyev,Surname_Zuyeva,Geography_Germany,Geography_Spain,Gender_Male
1977,1978,15585901,717,35,1,0.0,3,0,0,174770.14,...,0,0,0,0,0,0,0,0,1,1

In [40]:
bgcl.predict(NDP)

array([1], dtype=int64)

# Ensemble RandomForest Classifier

In [41]:
from sklearn.ensemble import RandomForestClassifier

In [42]:
#rfcl = RandomForestClassifier(n_estimators = 100)

In [43]:
#rfcl = RandomForestClassifier(n_estimators = 100, max_depth=5)

In [44]:
rfcl = RandomForestClassifier(n_estimators = 100, max_depth=5, max_features=0.25, max_leaf_nodes=20)

In [45]:
rfcl = rfcl.fit(X_train, y_train)

C:\Users\rashm\Anaconda3.6\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [46]:
rfcl.score(X_train, y_train)

0.856

In [47]:
rfcl.score(X_test, y_test)

0.8512

# Ensemble Learning - AdaBoosting

In [48]:
from sklearn.ensemble import AdaBoostClassifier

In [49]:
dt_model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 3, min_samples_leaf=5 )

In [50]:
abcl = AdaBoostClassifier(base_estimator=dt_model, n_estimators=45)

In [51]:
abcl = abcl.fit(X_train, y_train)

C:\Users\rashm\Anaconda3.6\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [52]:
abcl.score(X_train, y_train)

0.8834666666666666

In [53]:
abcl.score(X_test , y_test)

0.8408

# Ensemble Learning - GradientBoost

In [54]:
from sklearn.ensemble import GradientBoostingClassifier

In [55]:
gbcl = GradientBoostingClassifier(n_estimators = 50, learning_rate = 0.09, max_depth=5)

In [56]:
gbcl = gbcl.fit(X_train, y_train)

C:\Users\rashm\Anaconda3.6\lib\site-packages\sklearn\ensemble\_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [57]:
    gbcl.score(X_train , y_train)

0.8788

In [58]:
gbcl.score(X_test, y_test)

0.862